@model Moogle.Models.Characters
@{
    ViewData["Title"] = "| Add";
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
<h2 class="top-buffer">add a new character</h2>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="add-edit-list">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <select asp-for="Origin" class="login-bar login-picture">
                        <option value="Final Fantasy 01">Final Fantasy 01</option>
                        <option value="Final Fantasy 02">Final Fantasy 02</option>
                        <option value="Final Fantasy 03">Final Fantasy 03</option>  
                        <option value="Final Fantasy 04">Final Fantasy 04</option>
                        <option value="Final Fantasy 05">Final Fantasy 05</option>
                        <option value="Final Fantasy 06">Final Fantasy 06</option>
                        <option value="Final Fantasy 07">Final Fantasy 07</option>
                        <option value="Final Fantasy 08">Final Fantasy 08</option>
                        <option value="Final Fantasy 09">Final Fantasy 09</option>
                        <option value="Final Fantasy 10">Final Fantasy 10</option>
                        <option value="Final Fantasy 10-2">Final Fantasy 10-2</option>
                        <option value="Final Fantasy 11">Final Fantasy 11</option>
                        <option value="Final Fantasy 12">Final Fantasy 12</option>
                        <option value="Final Fantasy 13">Final Fantasy 13</option>
                        <option value="Final Fantasy 13-2">Final Fantasy 13-2</option>
                        <option value="Final Fantasy 14">Final Fantasy 14</option>
                        <option value="Final Fantasy 15">Final Fantasy 15</option>
                        <option value="Final Fantasy BE">Final Fantasy Brave Exvius</option>
                    </select>
                    <span asp-validation-for="Origin" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">game</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <select asp-for="Gender" class="login-bar login-picture">
                        <option>Enter character gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="??">??</option>                    
                    </select>                
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">gender</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Name" class="login-bar login-picture" placeholder="Enter character name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">name</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Race" class="login-bar login-picture" placeholder="Enter character race"/>
                    <span asp-validation-for="Race" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">race</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Age" class="login-bar login-picture" placeholder="Enter character age"/>
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">age</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Job" class="login-bar login-picture" placeholder="Enter character class or job"/>
                    <span asp-validation-for="Job" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">class/job</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Height" class="login-bar login-picture" placeholder="Enter height in meters"/>
                    <span asp-validation-for="Height" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">height</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Weight" class="login-bar login-picture" placeholder="Enter weight in kilograms"/>
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">weight</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response2" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response2" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response3" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response3" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response4" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response4" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response5" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response5" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response6" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response6" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response7" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response7" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response8" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response8" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response9" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response9" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Response10" class="login-bar login-picture" placeholder="Dating profile response"/>
                    <span asp-validation-for="Response10" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating response</span>
            </div>
            <div id="desc-position" class="col-md-6">

                <div class="input-group" style="height:250px;width:250px;margin:0 auto;">
                    <label>
                        <img id="img-output" class="img-character" src="https://mooglestorage.blob.core.windows.net/images/icon-default-image.png" />
                        <input asp-for="Picture" id="img-input" type="file" accept="image/*" name="picture" style="display:none;" />
                    </label>
                    <h5>Click to change image</h5>
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>

                <div class="form-group" style="margin-bottom:10px !important;">
                    <div class="input-group" style="width:100%;">
                        <label class="btn btn-primary btn-file pull-left btn-web-upload" style="margin-top:10px;width:20%;">upload 
                            <input asp-for="Picture2" type="file" name="picture" style="display:none;" onchange="$('#picture2-info').html(this.files[0].name)" />
                        </label>
                        <label class="btn btn-primary btn-file pull-left btn-mobile-upload" style="margin-top:10px;width:20%;"><span class="glyphicon glyphicon-cloud-upload"></span>
                            <input asp-for="Picture2" type="file" name="picture" style="display:none;" onchange="$('#picture2-info').html(this.files[0].name)" />
                        </label>
                        <span class="form-control login-bar login-picture img-input-format" id="picture2-info"></span>
                        <span asp-validation-for="Picture2" class="text-danger"></span>
                    </div>
                </div>
                <span class="font-10 label-under">picture2</span>

                <div class="form-group" style="margin-bottom:10px !important;">
                    <div class="input-group" style="width:100%;">
                        <label class="btn btn-primary btn-file pull-left btn-web-upload" style="margin-top:10px;width:20%;">upload 
                            <input asp-for="Picture3" type="file" name="picture" style="display:none;" onchange="$('#picture3-info').html(this.files[0].name)" />
                        </label>
                        <label class="btn btn-primary btn-file pull-left btn-mobile-upload" style="margin-top:10px;width:20%;"><span class="glyphicon glyphicon-cloud-upload"></span>
                            <input asp-for="Picture3" type="file" name="picture" style="display:none;" onchange="$('#picture3-info').html(this.files[0].name)" />
                        </label>
                        <span class="form-control login-bar login-picture img-input-format" id="picture3-info"></span>
                        <span asp-validation-for="Picture3" class="text-danger"></span>
                    </div>
                </div>
                <span class="font-10 label-under">picture3</span>

                <div class="form-group" style="margin-bottom:10px !important;">
                    <div class="input-group" style="width:100%;">
                        <label class="btn btn-primary btn-file pull-left btn-web-upload" style="margin-top:10px;width:20%;">upload 
                            <input asp-for="Picture4" type="file" name="picture" style="display:none;" onchange="$('#picture4-info').html(this.files[0].name)" />
                        </label>
                        <label class="btn btn-primary btn-file pull-left btn-mobile-upload" style="margin-top:10px;width:20%;"><span class="glyphicon glyphicon-cloud-upload"></span>
                            <input asp-for="Picture4" type="file" name="picture" style="display:none;" onchange="$('#picture4-info').html(this.files[0].name)" />
                        </label>
                        <span class="form-control login-bar login-picture img-input-format" id="picture4-info"></span>
                        <span asp-validation-for="Picture4" class="text-danger"></span>
                    </div>
                </div>
                <span class="font-10 label-under">picture4</span>

                <div class="form-group" style="margin-bottom:10px !important;">
                    <div class="input-group" style="width:100%;">
                        <label class="btn btn-primary btn-file pull-left btn-web-upload" style="margin-top:10px;width:20%;">upload
                            <input asp-for="Picture5" type="file" name="picture" style="display:none;" onchange="$('#picture5-info').html(this.files[0].name)" />
                        </label>
                        <label class="btn btn-primary btn-file pull-left btn-mobile-upload" style="margin-top:10px;width:20%;"><span class="glyphicon glyphicon-cloud-upload"></span>
                            <input asp-for="Picture5" type="file" name="picture" style="display:none;" onchange="$('#picture5-info').html(this.files[0].name)" />
                        </label>
                        <span class="form-control login-bar login-picture img-input-format" id="picture5-info"></span>
                        <span asp-validation-for="Picture5" class="text-danger"></span>
                    </div>
                </div>
                <span class="font-10 label-under">picture5</span>

                <div class="form-group" style="margin-bottom:0 !important;">
                    <textarea id="desc-input" asp-for="Description" class="login-bar" placeholder="Enter a character description in this space" title="Enter a character description in this space" ></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">character description</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <textarea id="desc-input" asp-for="Response1" class="login-bar" placeholder="Enter a character dating profile in this space" title="Enter a character dating profile in this space" ></textarea>
                    <span asp-validation-for="Response1" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">dating profile</span>
            </div>
        </div>
    </div>
    <div class="add-edit-list">
        <div class="form-group top-buffer">
            <button class="btn btn-link far fa-times-circle edit-cancel yellow" asp-controller="Character" asp-action="Index"></button>
            <button type="submit" class="btn btn-link far fa-check-circle edit-save blue"></button>
        </div>
    </div>
</form>