@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Mog.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @* <li><a asp-controller="Home" asp-action="Index" title="Home"><span class="fas fa-home blue"></span><span class="mobile-display-none"> Home</span></a></li> *@
            @* @if (User.IsInRole("Admin"))
            {
                <li><a asp-controller="Account" asp-action="Users" title="Click to manage users."><span class="fas fa-user-friends red"></span><span class="mobile-display-none"> Users</span></a></li> 
            } *@
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <li><a asp-controller="Character" asp-action="Index" title="Click to view or manage characters."><span class="fas fa-hat-wizard grey"></span> <span class="mobile-display-none"> Characters</span></a></li>
                <li><a asp-controller="Game" asp-action="Index" title="Click to view or manage games."><span class="fas fa-dice-d20 grey"></span> <span class="mobile-display-none"> Games</span></a></li>
                <li><a asp-controller="Monster" asp-action="Index" title="Click to view or manage monsters."><span class="fas fa-dragon grey"></span> <span class="mobile-display-none"> Monsters</span></a></li>
            }
            <li><a asp-controller="Manage" asp-action="Index" title="Click to manage profile."><img class="navbar-icon" src="@user.Picture"></a></li>
            @* <li><button id="logout" type="submit" class="btn btn-link navbar-btn navbar-link" title="Click to sign out."><span class="fas fa-sign-out-alt red"></span></button></li> *@
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Home" asp-action="Index" title="Home"><span class="fas fa-home grey"></span><span class="mobile-display-none"> Home</span></a></li>
        <li><a asp-controller="Home" asp-action="About" title="FAQ"><span class="fas fa-question-circle grey"></span><span class="mobile-display-none"> FAQ</span></a></li>
        <li><a asp-controller="Home" asp-action="Developer" title="The Developer"><span class="fas fa-user grey"></span><span class="mobile-display-none"> Developer</span></a></li>
        <li><a asp-controller="Account" asp-action="Login" title="Login"><span class="mobile-display-none"> Login</span> <span class="fas fa-sign-in-alt grey"></span></a></li>
    </ul>
}