@{
    ViewData["Title"] = "| Confirm email";
}

<h2 class="top-buffer">confirm email</h2>
<div>
    <p>Thank you for confirming your email! You can now go <a asp-controller="Account" asp-action="Login">here</a> to login.</p>
</div>
