@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "| Forgotten password";
}

<div class="row" style="margin:20% auto;">
    <div class="col-md-5" style="background-color:transparent;min-height:300px;border-radius:5px;padding:10px;margin:0 auto !important;float:none !important;">
        <form asp-action="ForgotPassword" method="post">
            <h2>forgot password?</h2>
            <div asp-validation-summary="All" class="text-danger"></div>
            <hr/>
            <div class="form-group">
                <input asp-for="Email" class="login-bar login-picture" placeholder="Enter email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-blue pull-right">send email</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
