@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "| Login";
}
<div class="row" style="margin:20% auto;">
    <div class="col-md-5" style="background-color:transparent;border-radius:5px;margin:0 auto !important;float:none !important;">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h2>please log in</h2>
                <hr/>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Email" class="login-bar login-picture" style="width:100%;" placeholder="Enter email" />
                    <br/><span asp-validation-for="Email" class="text-danger"></span>
                    <input asp-for="Password" class="login-bar login-picture" style="width:100%;" placeholder="Enter password" />
                    <br/><span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <!-- <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe" style="padding-left: 0;">
                            <input asp-for="RememberMe" style="margin-left: 1px;" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div> -->
                <div class="form-group">
                    <button type="submit" class="btn btn-blue pull-right">login</button>
                </div>
                <div class="form-group" style="margin-top:60px;">
                    <a asp-action="ForgotPassword" class="font-12 pull-right">a chocobo ate my password</a>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}