@model RegisterViewModel
@{
    ViewData["Title"] = "| Register";
}
<div class="row" style="margin:20% auto;">
    <div class="col-md-5" style="background-color:#fafafa;min-height:300px;border-radius:5px;padding:10px;margin:0 auto !important;float:none !important;">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h2>Register a new user</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" class="login-bar" style="width:100%" placeholder="Enter email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <input asp-for="Password" class="login-bar" style="width:100%" value="p@ssW0rd" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <input asp-for="ConfirmPassword" class="login-bar" style="width:100%" value="p@ssW0rd" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}