/*!
 * MoogleApi custom CSS
 */
body {
  padding: 50px;
  font-family: "Raleway";
  font-size: 14px;
}
.index {
  margin-top: 50px;
}
/*Fonts*/
@font-face {
  font-family: 'Josefin Sans';
  src: url('../customfonts/JosefinSans-VariableFont_wght.ttf') format('opentype');
}
@font-face {
  font-family: 'Raleway';
  src: url('../customfonts/Raleway-VariableFont_wght.ttf') format('opentype');
}
/*Site logo*/
.site-logo-container {
  height: 70px;
  min-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: 1000;
}
.site-logo {
  font-size: 40px;
  letter-spacing: 10px;
  cursor: pointer;
  font-family: 'Josefin Sans',sans-serif;
}
.site-logo a {
  text-decoration: none;
}
.no-space {
  letter-spacing: -35px;
}
.custom-margin-left {
  margin-left:-12px;
}
.site-span-api {
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 0;
}
.site-span-api-sm {
  font-size: 6px;
}
.logo-img {
  width:27px;
  margin-right:-35px;
  transform: rotate(-12deg);
}
/*_Information*/
.info-box-container {
  z-index: 500;
}
.info-box {
  min-height:220px;
  border-radius:5px;
}
.info-box p {
  padding: 0 20px;
}
.info-icon-row {
  margin: 30px auto;
}
.info-icon-row p {
  padding: 0 3px;
}
/*Footer*/
footer {
  width: 80%;
  margin: 0 auto;
}
footer a,
footer a:visited {
  color: #37474F;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
footer i {
  color: #37474F;
  padding-left: 10px;
  font-size: 20px;
  float: right;
}
footer span a i.fa-facebook-square:hover,
footer span a i.fa-facebook-square:focus {
  color: #4285F4;
  transform: rotate(7deg);
}
footer span a i.fa-instagram:hover,
footer span a i.ffa-instagram:focus {
  color: #CC0000;
  transform: rotate(7deg);
}
footer span a i.fa-github-square:hover,
footer span a i.fa-github-square:focus {
  color: #ffbb33;
  transform: rotate(7deg);
}
footer span a i.fa-linkedin:hover,
footer span a i.fa-linkedin:focus {
  color: #007E33;
  transform: rotate(7deg);
}
/*Search container*/
.search-card {
  margin: 0 auto;
  width: 80%;
  height: 50px;
}
.search-card-row {
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 0;
  z-index: 500;
  width: 34%;
}
.fancy-search {
  width: 100%;
  padding: 10px 0 10px 15px;
  border-radius: 500px;
  border: 1px solid transparent;
  transition: ease-in-out .1s;
}
::placeholder {
  font-size: 14px;
  color:#455a64 ;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
.search-results-container {
  padding-top: 220px;
  height: 100vh;
  overflow: scroll;
}
.search-results-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.search-results-img {
  width: 150px;
}
/*Dark mode*/
.dark-mode .bg-white {
  background-color: #25282c !important;
}
.dark-mode .bg-light {
  background-color: #37474F !important;
}
.dark-mode .text-light,
.dark-mode .text-white {
  color: #37474F !important;
}
.dark-mode .text-dark,
.dark-mode .text-muted  {
  color: #fff !important;
}
.dark-mode .text-primary {
  color: #bbdefb !important;
}
.dark-mode .text-secondary {
  color: #ffecb3 !important;
}
.dark-mode .text-success {
  color: #c8e6c9 !important;
}
.dark-mode .text-danger {
  color: #ffcdd2 !important;
}

@media screen and (max-width: 767px) {
/*TODO: Fill in mobile rules*/
}