/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

@import "https://use.fontawesome.com/releases/v5.4.0/css/all.css";

/* Modifying HTML elements and Bootstrap overrides */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Raleway";
  font-size: 16px;
}
.navbar-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  letter-spacing: -2.5px;
  cursor: pointer;
}
.navbar-icon {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: all .3s ease-in-out
}
.navbar-mod {
  background:transparent;
  border:transparent;
  backdrop-filter: blur(5px);
}
/* _Layout styles */
.hr-info-box {
  border:.5px solid #01579b;
}
.hr-home {
  border:.5px solid #01579b;
  width: 50%;
}
.info-box {
  min-height:220px;
  border-radius:40px;
  border:4px solid #fff;
}
.about-box {
  margin-bottom:30px;
  padding:5px 30px;
  border-radius:50px;
}
h1 {
  cursor: default;
}
h7 {
  font-weight: lighter;
  letter-spacing: 0;
}
footer {
  width: 70%;
  margin: 0 auto;
}
footer a,
footer a:visited {
  color: #37474F;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
i {
  color: #37474F;
  padding-left: 10px;
  font-size: 20px;
  float: right;
}
.fa-facebook-square:hover,
.fa-facebook-square:focus {
  color: #4285F4;
  transform: rotate(7deg);
}
.fa-instagram:hover,
.ffa-instagram:focus {
  color: #CC0000;
  transform: rotate(7deg);
}
.fa-github-square:hover,
.fa-github-square:focus {
  color: #ffbb33;
  transform: rotate(7deg);
}
.fa-linkedin:hover,
.fa-linkedin:focus {
  color: #007E33;
  transform: rotate(7deg);
}
.copyright {
  display:inline;
}
.mobile-copyright {
  display:none;
}
/* Styling Moogle title */
.site-title {
  margin-top:30px;
  min-height:100px;
  background-color:#37474F;
  border-radius:500px;
}
.letter-e {
  margin-left:-12px;
}
#random-character {
  display: none;
}
.fa-search {
  padding-top: 1.25%;
  font-size: 18px !important;
}
.feedback-icon {
  position: absolute;
  width: auto;
  bottom: 10px;
  right: 10px;
  margin-top: 0;
}
input {
  width:100%;
}
::placeholder {
  font-size: 14px;
  color:#455a64 ;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.bg-green {
  background-color:#c8e6c9;
}
.bg-red {
  background-color:#ffcdd2;
}
.bg-yellow {
  background-color:#ffecb3;
}
.bg-blue {
  background-color:#bbdefb;
}
.bg-grey {
  background-color:#e0e0e0;
}
.black {
  color: #000;
}
.blue {
  color: #4285F4;
}
.yellow {
  color: #ffbb33;
}
.red {
  color: #CC0000;
}
.green {
  color: #007E33;
}
.dark-bluish-gray {
  color: #37474f;
}
.no-space {
  letter-spacing: -35px;
}
.no-margin {
  margin:0 !important;
}
.top-buffer {
  margin-top: 40px;
}
.bottom-buffer {
  margin-bottom: 40px;
}
.mix-buffer {
  margin: 40px 0;
}
.search-card {
  margin: 0 auto;
  width: 50%;
  height: 80px;
}
.fancy-search {
  padding:10px 0 10px 15px;
  border-radius:500px;
  background-color:#eceff1;
  border:1px solid transparent;
  transition: ease-in-out .1s;
}
#search-icon {
  font-size: 16px;
  margin-top: 7px;
  margin-right: 15px;
}
.search-result,
.search-result > a,
.search-result > a:hover,
.search-result > a:visited,
.search-result > a:focus {
  color: #2e7d32;
}
/* Home demo plugin */
.title-1 {
  font-size:4em;
}
.title-2 {
  font-size:2em;
  font-weight:bolder;
}
.site-logo {
  min-width:200px;
  font-size:40px;
  letter-spacing:10px;
  margin-left:-20px;
  cursor:pointer;
  font-family:'Josefin Sans',sans-serif;
}
.span-logo {
  margin:0 10px;
}
.site-span-api {
  color:#000;
  font-size:12px;
  font-weight:bolder;
  letter-spacing:0;
}
.site-span-api-sm {
  font-size: 6px;
}
.logo-img {
  width:27px;
  margin-right:-35px;
  transform: rotate(-12deg);
}
#result {
  outline: none;
  width: 100%;
  overflow: scroll;
}
.moogle-table {
  color: #37474f; 
  width:50%;
}
.moogle-row {
  margin-right: 0;
  margin-left: 0;
}
.moogle-h4 {
  color: #2962ff;
  margin-bottom: -.5px;
}
.moogle-modal-button {
  background: transparent; 
  padding: 10px; 
  border: 1px solid #e0e0e0; 
  margin: 20px 0; 
  float: right;
  transition: ease-in-out .2s;
}
.moogle-img {
  width: 200px;
}
.moogle-modal-img {
  width: 100%;
}
.mobile-only {
  display: none;
}
.mobile-only-social {
  display: none;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .moogle-modal-button {
    float: none;
    width: 80vw;
    transition: ease-in-out .2s;
  }
}
@media screen and (max-width: 767px) {
    #overlay {
      background-color: #000000;
    }
    body {
      margin-top: -20px;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;
      -webkit-user-select: none;
      background-color: #000000;
      color: #ffffff;
    }
    .fa-search {
      padding-top: 7px;
    }
    .hr-home {
      border:.5px solid #ffffff;
    }
    .hr-info-box {
      border:.5px solid #ffffff;
    }
    .site-span-api {
      color: #ffffff;
    }
    .fancy-search {
      background-color: #000000!important;
      color: #ffffff!important;
      border: 1px solid #b0bec5;
      transition: ease-in-out .2s;
    }
    .sticky-search-bar {
      position: fixed;
      width: 100%;
      border-color: #000000;
      border-bottom: 1px solid #b0bec5;
      left: 0;
      top: 0;
      border-radius: 2px;
      z-index: 2000;
      transition: ease-in-out .2s;
      background-color: #000000!important;
      color: #ffffff!important;
    }
    .sticky-search-icon {
      position:fixed;
      color: #b0bec5;
      right: 0;
      top: 0;
      z-index: 2100;
      transition: ease-in-out .1s;
    }
    .green,
    .search-result,
    .search-result > a,
    .search-result > a:hover,
    .search-result > a:visited,
    .search-result > a:focus {
      color: #00C851;
    }
    /* Nav */
    .general-nav {
      margin-top: 0;
      margin-left: 20px;
    }
    .nav {
      background-color: #000000;
      margin: 0 auto;
      padding-bottom: 20px;
      text-align: center;
    }
    .mobile-nav-text {
      display: inline;
      font-size: 42px;
    }
    .navbar-header button {
      margin:8px auto 0 auto;
    }
    .modal {
      z-index: 5000;
    }
    .modal-content {
      background-color: #000000!important;
    }
    .close{
      color: #ffffff;
      opacity: .7;
    }
    .moogle-table {
      width: 100%;
    }
    .moogle-h4 {
      color: #4285F4;
    }
    .moogle-modal-button {
      margin: 0 auto;
      float: none;
      width: 100%;
      transition: ease-in-out .2s;
    }
    .span-logo {
      margin:0;
    }
    .logo-img {
      width:25px;
      margin-right:-25px;
    }
    .site-logo {
      margin:-10px auto -20px auto;
      text-align: center;
      font-size:50px;
      letter-spacing:10px;
      cursor:default;
      font-family:'Josefin Sans',sans-serif;
      background: transparent;
    }
    .mobile-display-none {
      display: none;
    }
    .mobile-only {
      display: block;
    }
    .mobile-only-social {
      display: block;
      margin: 0 auto !important;
      text-align: center !important;
    }
    .mobile-only-social i {
      font-size: 36px !important;
      float: none !important;
    }
    .site-title {
      margin-left:0;
      margin-top:30px;
      min-height:100px;
      background-color:#333333;
      border-radius:500px;
    }
    .dark-bluish-gray {
      color: #78909c !important;
    }
    .title-1 {
      font-size:3.5em;
    }
    .title-2 {
      font-size:1.25em;
      font-weight:bolder;
      padding-top:25px;
    }
    .title-3 {
      font-size: 14px;
    }
    .blur {
      filter: blur(5px);
    }
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .container-mod {
      width: 100%;
    }
    .no-space {
      letter-spacing: -25px;
    }
    .copyright {
      display:none;
    }
    .mobile-copyright {
      display:inline;
    }
    .bg-green {
      background-color:#00C851;
    }
    .bg-red {
      background-color:#cc0000;
    }
    .bg-yellow {
      background-color:#ffbb33;
    }
    .bg-blue {
      background-color:#4285F4;
    }
    .bg-grey {
      background-color:#333333;
    }
    .info-box {
      border:4px solid #000000;
    }
    .search-card {
      margin: 0 auto;
      width: 90%;
    }
}