@using Microsoft.AspNetCore.Identity
@using Mvc.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @if (User.Identity.Name=="admin@moogle.com")
            {
                <li><a asp-controller="Manage" asp-action="Index" title="Click to manage account."><img id="navbar-jack" style="width:20px;border-radius:50%;" src="~/images/profile-me.jpg"></a></li>
                <li><a asp-controller="Account" asp-action="Register" title="Click to register new user."><img style="width:20px;border-radius:50%;" src="~/images/icon-add-users.png"></a></li>
            }
            else
            {
                <li><a asp-controller="Manage" asp-action="Index" title="Click to manage account."><img style="width:20px;border-radius:50%;" src="~/images/icon-default-profile.jpg"></a></li>
            }
            <li><a asp-controller="Character" asp-action="Index" title="Click to manage characters."><img style="width:20px;border-radius:50%;" src="~/images/icon-manage.png"></a></li>
            <li><button id="logout" type="submit" class="btn btn-link navbar-btn navbar-link" title="Click to sign out."><img style="width:20px;border-radius:50%;" src="~/images/icon-sign-out.png"></button></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Login" title="">&emsp; <!-- Sign in --></a></li>
    </ul>
}
