@model Moogle.Models.Game

@{
    ViewData["Title"] = "| Add";
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}

<h2 class="top-buffer">add a new game</h2>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="add-edit-list">
        <div class="row">
            <img style="margin:5px;" alt="No picture." />
        </div>
        <div class="row" style="margin:50px 0;">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Title" class="login-bar" style="width:100%;" placeholder="Enter game title" title="Enter game title."/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">game title</span>
                <div class="form-group" style="margin-bottom:10px !important;">
                    <div class="input-group" style="width:100%;">
                        <label class="btn btn-primary btn-file pull-left btn-web-upload" style="margin-top:10px;width:20%;">upload
                            <input asp-for="Picture" type="file" name="picture" style="display:none;" onchange="$('#picture-info').html(this.files[0].name)" />
                        </label>
                        <label class="btn btn-primary btn-file pull-left btn-mobile-upload" style="margin-top:10px;width:20%;"><span class="glyphicon glyphicon-cloud-upload"></span>
                            <input asp-for="Picture" type="file" name="picture" style="display:none;" onchange="$('#picture-info').html(this.files[0].name)" />
                        </label>
                        <span class="form-control login-bar login-picture" id="picture-info" style="margin-top:10px;width:80%;background-color:#eceff1;"></span>
                        <span asp-validation-for="Picture" class="text-danger"></span>
                    </div>
                </div>
                <span class="font-10 label-under">picture</span>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="ReleaseDate" class="login-bar" style="width:100%;" placeholder='Enter release date ex. "March 3, 1982"' title="Enter game's release date."/>
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">release date</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Platform" class="login-bar" style="width:100%;" placeholder='Enter platform ex. "Playstation 1"' title="Enter the platform game was released on."/>
                    <span asp-validation-for="Platform" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">platform</span>
            </div>
        </div>
        <div class="row">
            <div id="desc-position" style="width:100%;">
                <div class="form-group">
                    <textarea id="desc-input" asp-for="Description" class="login-bar" placeholder="Enter game description in this space" title="Enter game description here."></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" style="margin-left:150px;">
        <button type="submit" class="btn btn-default shadow"><span class="glyphicon glyphicon-ok"></span> add</button>
        <a class="btn btn-default shadow" asp-action="Index"><span class="glyphicon glyphicon-arrow-left"></span> cancel</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
