@model Mog.Models.Game
@{
    ViewData["Title"] = "| Add";
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
<h2 class="top-buffer">add a new game</h2>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="add-edit-list">
        <div class="row">
            <div class="input-group" style="height:250px;width:250px;margin:0 auto;">
                <label>
                    <img id="img-output" class="img-game" src="https://mooglestorage.blob.core.windows.net/images/icon-default-image.png" />
                    <input asp-for="Picture" id="img-input" type="file" accept="image/*" name="picture" style="display:none;" />
                </label>
                <h5>click to change image</h5>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>        
        </div>
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Title" class="login-bar login-picture" style="width:100%;" placeholder="Enter game title" title="Enter game title."/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">game title</span>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="ReleaseDate" class="login-bar login-picture" style="width:100%;" placeholder='Enter release date ex. "March 3, 1982"' title="Enter game's release date."/>
                    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">release date</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Platform" class="login-bar login-picture" style="width:100%;" placeholder='Enter platform ex. "Playstation 1"' title="Enter the platform game was released on."/>
                    <span asp-validation-for="Platform" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">platform</span>
            </div>
        </div>
        <div class="row">
            <div id="desc-position" style="width:100%;">
                <div class="form-group">
                    <textarea id="desc-input" asp-for="Description" class="login-bar" placeholder="Enter game description in this space" title="Enter game description here."></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="add-edit-list">
        <div class="form-group top-buffer">
            <button class="btn btn-link far fa-times-circle edit-cancel yellow" asp-action="Index"></button>
            <button type="submit" class="btn btn-link far fa-check-circle edit-save blue"></button>
        </div>
    </div>
</form>