@using Moogle.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills" style="margin-top:20px;">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">password</a></li>
    <li class="@ManageNavPages.UsersNavClass(ViewContext)"><a asp-action="Users" title="Click to manage users.">users</a></li>
    <form asp-controller="Account" asp-action="Logout" method="post">
       <button id="logout" type="submit" class="btn btn-warning bg-yellow" style="padding:10px 15px;box-shadow:none;" title="Click to sign out.">logout</button>
    </form>
</ul>

