@model ChangePasswordViewModel
@{
    ViewData["Title"] = "| Change password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ 
    var user = await UserManager.GetUserAsync(User); 
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="add-edit-list">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="OldPassword" class="login-bar login-picture" placeholder="Enter old password" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="NewPassword" class="login-bar login-picture" placeholder="Enter new password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" class="login-bar login-picture" placeholder="Enter new password again"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button class="btn btn-link far fa-times-circle edit-cancel yellow pull-left" asp-controller="Character" asp-action="Index"></button>
                <button type="submit" class="btn btn-link far fa-check-circle edit-save blue pull-left"></button>            
            </div>
            <div class="col-md-6">
                <label>
                    <img id="img-output" class="img-user" src="@user.Picture" title="Picture of you!">
                </label>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
