@model IndexViewModel
@{
    ViewData["Title"] = "| Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{ 
    var user = await UserManager.GetUserAsync(User); 
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="add-edit-list">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="FirstName" class="login-bar login-picture" value="@user.FirstName" placeholder="Enter first name" title="Enter first name"  />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="LastName" class="login-bar login-picture" value="@user.LastName" placeholder="Enter last name" title="Enter last name" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="input-group" style="width:100%;">
                            <input asp-for="Email" class="login-bar login-picture" placeholder="Enter email" title="Enter email" />
                        </div>
                    }
                    else
                    {
                        <input asp-for="Email" class="login-bar login-picture" placeholder="Enter email"/>
                        <!-- <button asp-action="SendVerificationEmail" class="btn btn-link">Send verification email</button> -->
                    }
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:none;">
                    <input asp-for="PhoneNumber" class="login-bar login-picture" placeholder="Enter phone number" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <label>
                    <img id="img-output" class="img-user" src="@user.Picture" title="Picture of you!" style="cursor:pointer;">
                    <input asp-for="Picture" id="img-input" type="file" accept="image/*" name="picture" style="display:none;" />
                </label>
                <h5>click to change image</h5>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <span id="img-output-verify" class="green" style="font-size:10px;margin-top:10px;"></span>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <button class="btn btn-link far fa-times-circle edit-cancel yellow pull-left" asp-controller="Character" asp-action="Index"></button>
        }
        else 
        {
            <button class="btn btn-link far fa-times-circle edit-cancel yellow pull-left" asp-controller="Monster" asp-action="Index"></button>
        }
        <button type="submit" class="btn btn-link far fa-check-circle edit-save blue pull-left"></button>
    </form>
</div>

@section Scripts {
    @{await Html.PartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $("#img-input").change(function(event){
            let imgPath = URL.createObjectURL(event.target.files[0]);
            $("#img-output").fadeIn("fast").attr('src',imgPath); 
        }) 
    </script>
}
