@model IndexViewModel
@{
    ViewData["Title"] = "| Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{ 
    var user = await UserManager.GetUserAsync(User); 
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="add-edit-list">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="FirstName" class="login-bar login-picture" value="@user.FirstName" placeholder="Enter first name" title="Enter first name"  />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="LastName" class="login-bar login-picture" value="@user.LastName" placeholder="Enter last name" title="Enter last name" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="input-group" style="width:100%;">
                            <input asp-for="Email" class="login-bar login-picture" placeholder="Enter email" title="Enter email" />
                            <!-- <span class="input-group-addon" style="display:none;" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span> -->
                        </div>
                    }
                    else
                    {
                        <input asp-for="Email" class="login-bar login-picture" placeholder="Enter email"/>
                        <!-- <button asp-action="SendVerificationEmail" class="btn btn-link">Send verification email</button> -->
                    }
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:none;">
                    <input asp-for="PhoneNumber" class="login-bar login-picture" placeholder="Enter phone number" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <!-- <div class="form-group">
                    <div class="input-group" style="width:100%;">
                        <label class="btn btn-primary btn-file pull-left btn-web-upload" style="margin-top:10px;width:100%;max-width:100%;">upload 
                            <input asp-for="Picture" type="file" name="picture" style="display:none;" />
                        </label>
                        <label class="btn btn-primary btn-file pull-left btn-mobile-upload" style="margin-top:10px;width:100%;max-width:100%;"><span class="glyphicon glyphicon-cloud-upload"></span>
                            <input asp-for="Picture" type="file" name="picture" style="display:none;overflow:hidden;" />
                        </label>
                    </div>
                </div> -->
            </div>
            <div class="col-md-6">
                <label>
                    <img id="img-output" class="img-user" src="@user.Picture" title="Picture of you!" title="Click to change picture." style="cursor:pointer;">
                    <input asp-for="Picture" type="file" accept="image/*" name="picture" style="display:none;" onchange="onFileSelected(event)" />
                </label>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <span id="img-output-verify" class="green" style="font-size:10px;margin-top:10px;"></span>
        </div>
        <button type="submit" class="btn btn-default" style="margin:30px auto 0 auto;"><span class="glyphicon glyphicon-ok"></span> save</button>
    </form>
</div>

@section Scripts {
    @{await Html.PartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function onFileSelected(event) {
            let selectedFile = event.target.files[0];
            let reader = new FileReader();

            let imgtag = $("#img-output");
            imgtag.title = selectedFile.name;

            reader.onload = function(event) {
                imgtag.src = event.target.result;
            };

            reader.readAsDataURL(selectedFile);
            $("#img-output-verify").html("Click save to change yoru image!");
        }
    </script>
}
