<div class="container info-box-container bg-white">
    <div class="row bg-light info-box">
        <div class="col-md-12 text-center">
            <h4 class="m-0"><strong>What is this?</strong></h4>
        </div>
        <div class="col-md-6 text-center">
            <p>This is a <strong>RESTful API</strong> for Final Fantasy. I hope the database behind will eventually become an extensive library of all your favorite characters and monsters from the main series of Final Fantasy.</p>
            <p>There's currently <span id="character-count" class="text-primary"><i class="fas fa-circle-notch fa-spin"></i></span> characters and counting!</p>
        </div>
        <div class="col-md-6 text-center">
            <p>If you're interested in building something and not sure where to start you can checkout the <a href="https://github.com/jackfperryjr/mog#readme" target="_blank">README</a> on GitHub. I've included some easy to follow examples. There's also a simple working demo <a href="https://jackfperryjr.github.io/moogle" target="_blank"> here</a>.</p>
            <p>Or you can play with the <a href="/swagger/index.html" target="_blank">SWAGGER</a> for testing.</p>
        </div>
    </div>
    <div class="row text-center info-icon-row">
        <div class="col-md-4 text-primary">
            <span class="fa-stack fa-5x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-database fa-stack-1x text-white"></i>
            </span>
            <h6>What is an API?</h6>
            <p class="text-dark">An API <strong>(Application Programming Interface)</strong> is a software-to-software interface, not a user interface. With APIs, applications talk to each other without any user knowledge or intervention. When you buy movie tickets online and enter your credit card information, the movie ticket website uses an API to send your credit card information to a remote application that verifies whether your information is correct. Once payment is confirmed, the remote application sends a response back to the movie ticket website saying it's okay to issue the tickets.</p>
        </div>
        <div class="col-md-4 text-danger">
            <span class="fa-stack fa-5x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-meteor fa-stack-1x text-white"></i>
            </span>
            <h6>Aren't there a bunch of Final Fantasy websites?</h6>
            <p class="text-dark">Exactly. That means there's a bunch of different sources of the same/similar data.</p>
            <p class="text-dark">The goal is to provide a single source of data that any website can consume and use. When new games come out it could take some time for a variety of websites to catch up. With the API it could be updated once and the new information can then be consumed by any number of websites at the same time.</p>
        </div>
        <div class="col-md-4 text-success">
            <span class="fa-stack fa-5x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-book fa-stack-1x text-white"></i>
            </span>
            <h6>Where did you get the data?</h6>
            <p class="text-dark">I've spent hours upon hours in most of the games over the majority of my life. I also have a decent collection of games and strategy guides. I'm also curious, a developer, reader, and know how to traverse internet fairly well. I'm doing my best to gather data from multiple sources and compile it in one place.</p>
        </div>
        <div class="col-md-4 text-secondary">
            <span class="fa-stack fa-5x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-cookie-bite fa-stack-1x text-white"></i>
            </span>
            <h6>The API is missing stuff!</h6>
            <p class="text-dark">I know! I contribute and update when I have time but it's just me doing it! I'd love to find contributors; so if you're interested send me an <a class="blue" href="mailto:jackfperryjr@gmail.com">email.</a> You can also check <a class="blue" href="https://selphie.org/#/feed" target="_blank">here</a> for updates to the data.</p>
        </div>
        <div class="col-md-4 text-primary">
            <span class="fa-stack fa-5x" onclick="halfmoon.toggleDarkMode()">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-microchip fa-stack-1x text-white"></i>
            </span>
            <h6>What is the tech stack?</h6>
            <p class="text-dark">The API is built in C#/.NETCore. It's hosted in Azure, with an Azure SQL database, and set behind Cloudflare for caching. My sample <a class="blue" href="https://jackfperryjr.github.io/moogle/" target="_blank">example</a> is wired up with a Vue.js component and <a class="blue" href="https://selphie.org/#/feed" target="_blank">Selphie</a> is built with React.js.</p>
        </div>
        <div class="col-md-4 text-danger">
            <span class="fa-stack fa-5x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-hand-holding-heart fa-stack-1x text-white"></i>
            </span>
            <h6>Can I help?</h6>
            <p class="text-dark">Absolutely! If you'd like to help contribute to the data send me an email. I'm super open to suggestions and collaboration!</p> 
        </div>
    </div>
</div>