<h2 class="text-center">You're super awesome!<br/>Thanks so much for donating!</h2>
<div class="container container-mod">
    <div class="text-left" style="margin-top:120px;">
        <h7>Click <a href="https://www.moogleapi.com">here</a> to go back.</h7>
    </div>
</div>