@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@section MetaTags
{
    <meta property="og:url" content="www.moogleapi.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="MoogleApi">
    <meta property="og:description" content="MoogleApi is your search engine for Final Fantasy. Easily find, and learn more, about your favorite games, characters, and monsters.">
    <meta property="og:owner" content="Jack F. Perry, Jr.">
    <meta name="description" content="MoogleApi is your search engine for Final Fantasy. Easily find, and learn more, about your favorite games, characters, and monsters.">
    <meta name="author" content="Jack F. Perry, Jr.">
}
@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="~/js/site.js"></script>
}
<div id="vue-app">
    <div class="row fixed-heading">
        <div class="col-md-12 fixed-heading-col text-center site-title">
            <h1 class="title-1">MoogleApi</h1>
            <h2 class="title-2">A RESTful Final Fantasy API</h2>
            <h5 class="title-5"><strong>{{character.length}}</strong> characters and counting!</h5>
        </div>
    </div>
    <!-- Start of VueJs container -->
    <div class="container">
        <h2 class="text-center">Try it out!</h1>
        <hr class="hr-home" />
        <div class="search-card">
            <form class="form-inline has-feedback">
                <input id="search" class="fancy-search" v-model="search" type="input" />
                <i id="search-icon" class="fas fa-search form-control-feedback blue"></i>
            </form>
        </div>
        <!-- Search results -->
        <div v-for="character in filtered" :key="character.id" class="search-results row moogle-row mix-buffer" >
            <div class="col-md-8">
                <h4 class="moogle-h4"><strong>{{character.name}}</strong></h4>
                <h7 class="search-result">To learn more visit <a :href="'https://www.google.com/search?q=final+fantasy+'+character.name" target="_blank">https://www.google.com/search?q={{character.name}}</a></h7><br/>
                <p class="dark-bluish-gray">{{character.description}}</p>
                <div class="row">
                    <div class="col-md-4">
                        <p>
                        <strong>Origin:</strong> {{character.origin}}<br/>
                        <strong>Job:</strong> {{character.job}}<br/>
                        <strong>Age:</strong> {{character.age}}<br/>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                        <strong>Race:</strong> {{character.race}}<br/>
                        <strong>Height:</strong> {{character.height}}m<br/>
                        <strong>Weight:</strong> {{character.weight}}kg
                        </p>
                    </div>
                    <br/>
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="moogle-modal-button" data-toggle="modal" data-target="#imageModal" v-on:click="setModal(character)">
                    <img class="moogle-img" :src="character.picture" :alt="character.name" title="Click to view a larger picture"><br/>
                </button>
                <div id="imageModal" class="modal fade" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="text-center"><strong>{{modal.name}}</strong><span class="close" data-dismiss="modal">X</span></h3>
                            </div>
                            <div class="modal-body">
                                <img class="moogle-modal-img" :src="modal.picture" :alt="modal.name" :title="modal.name">
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
            <div class="row moogle-row">
                <div class="col-md-4 pull-right">
                    <button class="h5 blue pull-right btn-link" v-on:click="scrollTop()">Back to top</button>
                </div>
            </div>
        </div>
        <!-- Random character -->
        <div id="random-character" class="row moogle-row mix-buffer">
            <div class="col-md-8">
                <h4 class="moogle-h4"><strong>{{random[0].name}}</strong></h4>
                <h7 class="search-result">To learn more visit <a :href="'https://www.google.com/search?q=final+fantasy+'+random.name" target="_blank">https://www.google.com/search?q={{random[0].name}}</a></h7><br/>
                <p class="dark-bluish-gray">{{random[0].description}}</p>
                <div class="row">
                    <div class="col-md-4">
                        <p><strong>Origin:</strong> {{random[0].origin}}<br/>
                        <strong>Job:</strong> {{random[0].job}}<br/>
                        <strong>Age:</strong> {{random[0].age}}</p>
                        </div>                    
                        <div class="col-md-6"><p><strong>Race:</strong> {{random[0].race}}<br/>
                        <strong>Height:</strong> {{random[0].height}}m<br/>
                        <strong>Weight:</strong> {{random[0].weight}}kg</p>
                    </div>
                    <br/>
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="moogle-modal-button" data-toggle="modal" data-target="#randomModal">
                    <img class="moogle-img" :src="random[0].picture" :alt="random[0].name" title="Click to view a larger picture"><br/>
                </button>
                <div id="randomModal" class="modal fade" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="text-center"><strong>{{random[0].name}}</strong><span class="close" data-dismiss="modal">&times;</span></h3>
                            </div>
                            <div class="modal-body">
                                <img class="moogle-modal-img" :src="random[0].picture" :alt="random[0].name" :title="random[0].name">
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>
        <div class="container container-mod mobile-display-none">
            <div class="row">
                <div class="col-md-4 text-center form-group info-box bg-green">
                    <h4><strong>What is this?</strong></h4>
                    <hr class="hr-info-box" />
                    <h5 class="text-left">This is a <a asp-controller="Home" asp-action="About">RESTful API</a> intentionally limited to GET requests. I hope the database behind will eventually become an extensive library of all your favorite characters and monsters from the main series of Final Fantasy.</h5>
                </div>
                <div class="col-md-4 text-center form-group info-box bg-yellow">
                    <h4><strong>Where to start?</strong></h4>
                    <hr class="hr-info-box" />
                    <h5 class="text-left">You can checkout the <a href="https://github.com/jackfperryjr/moogle#readme" target="_blank">README</a> on GitHub.</h5>
                    <h5 class="text-left">Or checkout <a href="https://www.moogleapi.com/swagger/index.html" target="_blank">SWAGGER</a> for testing.</h5>
                    <h5 class="text-left">And I've built a simple working example <a href="https://jackfperryjr.github.io/moogle-spa/" target="_blank">HERE</a>.</h5>
                </div>
                <div class="col-md-4 text-center form-group info-box bg-red">
                    <h4><strong>Hosted by Azure</strong></h4>
                    <hr class="hr-info-box" />
                    <a href="https://azure.microsoft.com" target="_blank"><img style="width:150px;" src="@Url.Content("/icons/icon-azure-logo.png")"></a>
                </div>
            </div>
        </div>
    </div>
</div>