@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@section MetaTags
{
    <meta property="og:url" content="www.moogleapi.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="MoogleApi">
    <meta property="og:description" content="MoogleApi is your search engine for Final Fantasy. Easily find, and learn more, about your favorite games, characters, and monsters.">
    <meta property="og:owner" content="Jack F. Perry, Jr.">
    <meta name="description" content="MoogleApi is your search engine for Final Fantasy. Easily find, and learn more, about your favorite games, characters, and monsters.">
    <meta name="author" content="Jack F. Perry, Jr.">
}
@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="~/js/site.js"></script>
}
<div id="vue-app">
    <div class="row">
        <div class="col-md-12 text-center site-title">
            <h2 class="title-2">A RESTful Final Fantasy API</h2>
            <h5 class="title-5"><strong>{{character.length}}</strong> characters and counting!</h5>
        </div>
    </div>
    <!-- Start of VueJs container -->
    <div class="container">
        <h2 class="text-center">Try it out!</h2>
        <hr class="hr-home" />
        <div class="search-card">
            <form class="form-inline has-feedback">
                <input id="search" class="fancy-search" v-model="search" type="input" />
                <i id="search-icon" class="fas fa-search form-control-feedback blue"></i>
            </form>
        </div>
        <!-- Search results -->
        <div v-for="character in filtered" :key="character.id" class="search-results row moogle-row mix-buffer" >
            <div class="col-md-8">
                <h4 class="moogle-h4"><strong>{{character.name}}</strong></h4>
                <h7 class="search-result">To learn more visit <a :href="'https://www.google.com/search?q=final+fantasy+'+character.name" target="_blank">https://www.google.com/search?q={{character.name}}</a></h7><br/>
                <p class="dark-bluish-gray">{{character.description}}</p>
                <div class="row">
                    <div class="col-md-4">
                        <p>
                        <strong>Origin:</strong> {{character.origin}}<br/>
                        <strong>Job:</strong> {{character.job}}<br/>
                        <strong>Age:</strong> {{character.age}}<br/>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                        <strong>Race:</strong> {{character.race}}<br/>
                        <strong>Height:</strong> {{character.height}}m<br/>
                        <strong>Weight:</strong> {{character.weight}}kg
                        </p>
                    </div>
                    <br/>
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="moogle-modal-button" data-toggle="modal" data-target="#imageModal" v-on:click="setModal(character)">
                    <img class="moogle-img" :src="character.picture" :alt="character.name" title="Click to view a larger picture"><br/>
                </button>
                <div id="imageModal" class="modal fade" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="text-center"><strong>{{modal.name}}</strong><span class="close" data-dismiss="modal">X</span></h3>
                            </div>
                            <div class="modal-body">
                                <img class="moogle-modal-img" :src="modal.picture" :alt="modal.name" :title="modal.name">
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
            <div class="row moogle-row">
                <div class="col-md-4 pull-right">
                    <button class="h5 blue pull-right btn-link" v-on:click="scrollTop()">Back to top</button>
                </div>
            </div>
        </div>
        <!-- Random character -->
        <div id="random-character" class="row moogle-row mix-buffer">
            <div class="col-md-8">
                <h4 class="moogle-h4"><strong>{{random[0].name}}</strong></h4>
                <h7 class="search-result">To learn more visit <a :href="'https://www.google.com/search?q=final+fantasy+'+random[0].name" target="_blank">https://www.google.com/search?q={{random[0].name}}</a></h7><br/>
                <p class="dark-bluish-gray">{{random[0].description}}</p>
                <div class="row">
                    <div class="col-md-4">
                        <p><strong>Origin:</strong> {{random[0].origin}}<br/>
                        <strong>Job:</strong> {{random[0].job}}<br/>
                        <strong>Age:</strong> {{random[0].age}}</p>
                        </div>                    
                        <div class="col-md-6"><p><strong>Race:</strong> {{random[0].race}}<br/>
                        <strong>Height:</strong> {{random[0].height}}m<br/>
                        <strong>Weight:</strong> {{random[0].weight}}kg</p>
                    </div>
                    <br/>
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="moogle-modal-button" data-toggle="modal" data-target="#randomModal">
                    <img class="moogle-img" :src="random[0].picture" :alt="random[0].name" title="Click to view a larger picture"><br/>
                </button>
                <div id="randomModal" class="modal fade" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="text-center"><strong>{{random[0].name}}</strong><span class="close" data-dismiss="modal">X</span></h3>
                            </div>
                            <div class="modal-body">
                                <img class="moogle-modal-img" :src="random[0].picture" :alt="random[0].name" :title="random[0].name">
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center form-group info-box bg-green">
                    <h4><strong>What is this?</strong></h4>
                    <hr class="hr-info-box" />
                    <h5 class="text-left">This is a RESTful API intentionally limited to GET requests. I hope the database behind will eventually become an extensive library of all your favorite characters and monsters from the main series of Final Fantasy.</h5>
                </div>
                <div class="col-md-4 text-center form-group info-box bg-yellow">
                    <h4><strong>Where to start?</strong></h4>
                    <hr class="hr-info-box" />
                    <h5 class="text-left">You can checkout the <a href="https://github.com/jackfperryjr/moogle#readme" target="_blank">README</a> on GitHub.</h5>
                    <h5 class="text-left">Or checkout <a href="/swagger/index.html" target="_blank">SWAGGER</a> for testing.</h5>
                    <h5 class="text-left">And I've built a simple working example <a href="https://jackfperryjr.github.io/moogle-spa/" target="_blank">HERE</a>.</h5>
                </div>
                <div class="col-md-4 text-center form-group info-box bg-red">
                    <h4><strong>Hosted in Azure</strong></h4>
                    <hr class="hr-info-box" />
                    <a href="https://azure.microsoft.com" target="_blank"><img style="width:150px;" src="@Url.Content("/icons/icon-azure-logo.png")"></a>
                </div>
            </div>
        </div>
        <div id="about-container" class="container">
            <div class="container top-buffer">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="margin:0;">
                            <h3>What is an API?</h3>
                            <div class="row about-box bg-blue">
                                <h4>An API <strong>(Application Programming Interface)</strong> is a software-to-software interface, not a user interface. With APIs, applications talk to each other without any user knowledge or intervention. When you buy movie tickets online and enter your credit card information, the movie ticket website uses an API to send your credit card information to a remote application that verifies whether your information is correct. Once payment is confirmed, the remote application sends a response back to the movie ticket website saying it's okay to issue the tickets.</h4>
                            </div>
                        </div>
                        <div class="row" style="margin:0;">
                            <h3>Aren't there a bunch of Final Fantasy websites?</h3>
                            <div class="row about-box bg-yellow">
                                <h4>Exactly. That means there's a bunch of different sources of the same/similar data.</h4>
                                <h4>The goal is to provide a single source of data that any website can consume and use. When new games come out it could take some time for a variety of websites to catch up. With the API it could be updated once and the new information can then be consumed by any number of websites at the same time.</h4>
                            </div>
                        </div>
                        <div class="row" style="margin:0;">
                            <h3>The API is missing stuff!</h3>
                            <div class="row about-box bg-blue">
                                <h4>I know! I contribute and update when I have time but it's just me doing it! I'd love to find contributors; so if you're interested send me an email: <a class="blue" href="mailto:jackfperryjr@gmail.com">jackfperryjr@gmail.com</a></h4>
                            </div>
                        </div>
                        <div class="row" style="margin:0;">
                            <h3>Where did you get the data?</h3>
                            <div class="row about-box bg-green">
                                <h4>The data was gathered from multiple sources across the internet and from legitimate booklets and manuals. (I have a bit of a Final Fantasy game collection!)</h4>
                            </div>
                        </div>
                        <div class="row" style="margin:0;">
                            <h3>What is the tech stack?</h3>
                            <div class="row about-box bg-red">
                                <h4>The API is built in C# with .NET Core 2.2 currently (v2 will be in 3.0 when I get time). It's hosted on Azure, uses an Azure SQL database, and set behind Cloudflare for caching. The home page and my sample <a class="blue" href="https://jackfperryjr.github.io/moogle-spa/" target="_blank">example</a> are wired up with Vue.js.</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row" style="margin:0;">
                            <h3>Who am I?</h3>
                            <div class="row about-box bg-blue">
                                <h4>I'm Jack F. Perry, Jr. Born in Ohio, living in Louisville, KY. I started writing code at 16 for an online text-based MUD (nerd!). I moved from that into writing some JavaScript pretty early on and am a huge fan of it even now (though I wish I had kept up with it over the years). Learning is a passion of mine and I continue to teach myself new programming languages, technologies, and best practices on a daily basis!</h4>
                            </div>
                        </div>
                        <div class="row" style="margin:0;">
                            <h3>What do I do?</h3>
                            <div class="row about-box bg-red">
                                <h4>I work as a fullstack .NET developer with a bias towards .NET Core and JavaScript. Though, I have studied a wee bit of SQL, Python, Java, Kotlin with Android, JavaScript, and a handful of JavaScript frameworks/libraries. And I like to build neat things like this.</h4>
                            </div>
                        </div>
                        <div class="row" style="margin:0;">
                            <h3>Photographer/Graphic Designer/Artist</h3>
                            <div class="row about-box bg-yellow">
                                <h4>I like to consider myself an artist. I've dabbled in graphic design and photography and I've even volunteered my services as such. I no longer keep examples of my work on display anywhere, though. Keep it secret; keep it safe. &#x1f609;</h4>
                            </div>
                        </div>
                        <div class="row" style="margin:0;">
                            <h3>Final Fantasy</h3>
                            <div class="row about-box bg-blue">
                                <h4>Obviously. I don't consider myself a huge game nerd. However, I got into Final Fantasy at an early age and it never stopped. I have a bit of a collection of the games and strategy guides. I don't play much anymore but I try to keep up on what's going on.</h4>
                            </div>
                        </div>
                        <div class="row" style="margin:0;">
                            <h3>Work</h3>
                            <div class="row about-box bg-green">
                                <h4>I love to write code and design websites and applications. I don't do much freelance work, but if you've stumbled upon this place of mine and are interested in talking about freelance work or a fulltime position I'm always open to talking.</h4>
                            </div>
                        </div>
                        <div class="row" style="margin:0;">
                            <h3>Can I help?</h3>
                            <div class="row about-box bg-grey">
                                <h4>Absolutely! If you'd like to help contribute to the data send me an email. I'm super open to suggestions and collaboration! 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>