@{
    ViewData["Title"] = "| Jack";
}
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script src="~/js/jack.js"></script>
}
@section Styles {
    <link href="@Url.Content("~/css/jack.css")" rel="stylesheet" type="text/css" />
}
<div class="container">
    <div class="row fixed-heading">
        <div class="col-md-12 fixed-heading-col text-center">
            <h1 class="site-title">
                <span class="blue no-space">j</span>
                <span class="blue no-space">a</span>
                <span class="blue no-space">c</span>
                <span class="blue no-space">k</span>
                <span class="green no-space">f</span>
                <span class="blue no-space">p</span>
                <span class="blue no-space">e</span>
                <span class="blue no-space">r</span>
                <span class="blue no-space">r</span>
                <span class="blue no-space">y</span>
                <span class="green no-space">j</span>
                <span class="green no-space">r</span>
            </h1>
        </div>
    </div>
    <div class="search-card">
        <form class="form-inline has-feedback">
            <input id="search" class="fancy-search" type="input" placeholder="Search ex. ''About''..." title="You can type the name of the sections to view them">
            <i id="search-icon" class="glyphicon glyphicon-search form-control-feedback black"></i>
        </form>
        <nav class="navbar navbar-modified">
            <ul class="nav navbar-nav">
                <li><a class="about-button" title="Click to read about me"><strong>about</strong></a></li>
                <li><a onclick="closeTabs()" title="Click to close section"><strong>x</strong></a></li>                  
            </ul>
        </nav>
        </div>
            <div id="about">
                <div class="row row-modified">
                    <div class="col-md-6">
                        <img id="jack" class="featurette-image img-responsive center-block" src="@Url.Content("/images/icons/icon-me.jpg")" alt="Circle with a real picture of Jack's face." title="Jack's face.">
                    </div>
                <div class="col-md-6">
                    <h4 class="about-p text-left">About Me: <span class="blue">Jack F. Perry, Jr</span>.</h4>
                    <h4 class="about-p text-left">From Metroid to Final Fantasy to DragonRealms to Skyrim to here! You found me.</h4>
                    <h4 class="about-p text-left">I graduated with an Associate's in Applied Sciences (Computer Programming). I'm also a graduate of Code Louisville in Front End Web Develeopment, C#/.NET/.NET Core, Python, and Android/Kotlin. Learning is a passion of mine and I continue to teach myself new programming languages, technologies, and best practices on a daily basis!</h4>
                </div>
            </div>
        </div>
    </div>
</div>