@{
    ViewData["Title"] = "| Jack";
}
@section Scripts
{
    <script src="~/js/site.js"></script>
}
<div class="container">
    <div class="row fixed-heading">
        <div class="col-md-12 fixed-heading-col text-center site-title">
            <h1 style="font-size:96px !important;">
                <span class="blue no-space">j</span>
                <span class="blue no-space">a</span>
                <span class="blue no-space">c</span>
                <span class="blue no-space">k</span>
                <span class="green no-space">f</span>
                <span class="blue no-space">p</span>
                <span class="blue no-space">e</span>
                <span class="blue no-space">r</span>
                <span class="blue no-space">r</span>
                <span class="blue no-space">y</span>
                <span class="green no-space">j</span>
                <span class="green no-space">r</span>
            </h1>
        </div>
    </div>
<div>
<div class="container">
    <div class="row row-modified top-buffer">
        <div class="col-md-6">
            <img id="jack" class="featurette-image img-responsive img-circle center-block" src="@Url.Content("/images/icons/icon-me.jpg")" alt="Circle with a real picture of Jack's face." title="Jack's face.">
        </div>
    <div class="col-md-6">
        <div class="row">
            <h3>Who am I?</h3>
            <div class="row about-box bg-blue">
                <h4>I'm Jack F. Perry, Jr. Born in Ohio, living in Louisville, KY. I graduated with an Associate's in Applied Sciences (Computer Programming). I'm also a graduate of Code Louisville in Front End Web Develeopment, C#/.NET(.NET Core), Python, and Android/Kotlin. Learning is a passion of mine and I continue to teach myself new programming languages, technologies, and best practices on a daily basis!</h4>
            </div>
        </div>
        <div class="row">
            <h3>What do I do?</h3>
            <div class="row about-box bg-red">
                <h4>I work as a fullstack .NET developer with a bias towards .NET Core. Though, I have studied a wee bit of SQL, Python, Java, Kotlin with Android, JavaScript, and a handful of JavaScript frameworks/libraries. And I build neat things like this.</h4>
            </div>
        </div>
        <div class="row">
            <h3>Title</h3>
            <div class="row about-box bg-yellow">
                <h4>Stuff stuff stuff.</h4>
            </div>
        </div>
        <div class="row">
            <h3>Title</h3>
            <div class="row about-box bg-blue">
                <h4>Stuff stuff stuff.</h4>
            </div>
        </div>
        <div class="row">
            <h3>Title</h3>
            <div class="row about-box bg-green">
                <h4>Stuff stuff stuff.</h4>
            </div>
        </div>
    </div>
</div>