@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr-hang {
  -webkit-animation-name: hvr-hang;
  animation-name: hvr-hang;
  -webkit-animation-duration: 2s, 3s;
  animation-duration: 2s, 3s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

@-webkit-keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
      transform: translate3d(0, -3000px, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0);
    }
  
    75% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1s, 2s;
    animation-duration: 1s, 2s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
    animation-direction: normal;
  }

  @keyframes lightSpeedIn {
    from {
      -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }
  
    60% {
      -webkit-transform: skewX(20deg);
      transform: skewX(20deg);
      opacity: 1;
    }
  
    80% {
      -webkit-transform: skewX(-5deg);
      transform: skewX(-5deg);
      opacity: 1;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  
  .lightSpeedIn {
    -webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-duration: 1s, 2s;
    animation-duration: 1s, 2s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
    animation-direction: normal;
  }
  @-webkit-keyframes tada {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    10%,
    20% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
  
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
  
    40%,
    60%,
    80% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes tada {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    10%,
    20% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
  
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
  
    40%,
    60%,
    80% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .tada {
    -webkit-animation-name: tada;
    animation-name: tada;
    -webkit-animation-duration: 1s, 2s;
    animation-duration: 1s, 2s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
    animation-direction: normal;
  }

body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Raleway";
}
.site-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10em;
  margin-left: -35px;
}
.navbar-title {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: -2px;
  cursor: default;
}
code {
  padding: 0 45px;
  color: #000;
  background-color: transparent;
  font-size: 12px;
}
/* Spacer classes */
.top-buffer {
  margin-top: 40px;
}
.bottom-buffer {
  margin-bottom: 40px;
}
.mix-buffer {
  margin: 40px 0;
}
.no-space {
  letter-spacing: -45px;
}
.blue {
  color: #4285F4;
}
.yellow {
  color: #ffbb33;
}
.red {
  color: #CC0000;
}
.green {
  color: #007E33;
}
/* Search card */
.search-card {
  margin: 0 auto;
  width: 50%;
}
#search {
  width: 100%;
  transition: all .3s ease-in-out;
}
#search:hover,
#search:focus {
  box-shadow: 1px 1px 2px rgb(200,200,200);
  transition: all .3s ease-in-out;
}
#result {
  outline: none;
  width: 100%;
  max-height: 600px;
  overflow: scroll;
}
.padded-left {
  padding-left: 50px;
}
h1 {
  cursor: default;
}
h7 {
  font-weight: lighter;
  letter-spacing: 0;
}
#logo {
  width: 80px;
  margin-right: -45px;
  transform: rotate(-12deg);
}
#tiny-logo {
  width: 20px;
  transition: all .3s ease-in-out;
}
#tiny-logo:hover,
#tiny-logo:focus {
  transform: rotate(-15deg);
  transition: all .3s ease-in-out;
}
footer a,
footer a:visited {
  color: rgb(130,130,130);
  text-decoration: none;
  transition: all .3s ease-in-out;
}

#logout:hover {
  color: #37474F;
  font-weight: bolder;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

footer a:hover,
footer a:focus,
footer a:active {
  color: rgb(30,130,220);
  text-decoration: none;
  transition: all .3s ease-in-out;
}
i {
  color: #37474F;
}
i:hover,
i:focus {
  color: rgb(30,130,220);
  transform: rotate(7deg);
}
/* QR code generator */
#qrCode {
    margin: 15px;
}

#character-list {
  max-width: 100%;
  margin: 50px auto;
}

.character-list-item {
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: bolder;
  width: 33%;
}

.character-list-thumb {
  object-fit: fill; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 75px;
  width: 75px;
  border-radius: 5px; 
  border: 1px solid rgb(248,248,248);
  box-shadow: none;
  opacity: 1;
  transition: all .3s ease-in-out;
  
}
.character-list-thumb:hover,
.character-list-thumb:focus,
.character-list-thumb:active {
  box-shadow: 2px 2px 6px rgb(150,150,150);
  transform: translate(0, -1px);
  opacity: .9;
  transition: all .3s ease-in-out;
}

.index-button {
  float: right;
  margin: 2.5px;
}
.input-bar,
.login-bar {
  margin: 30px 20px 30px 0;
  padding: 5px;
  width: 350px;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid rgb(0,0,0);
  border-left: none;
  outline: none;
  border-radius: 0;
  color: rgb(255,0,0);
  font-weight: bolder;
  font-size: 18px;
}
.login-bar {
  font-size: 16px;
  margin: 10px 0;
}
#delete-warning {
  max-width: 50%;
}
#detail-view {
  max-width: 100%;
  min-height: 200px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 auto 20px auto;
}
.fixed-heading {
  text-align: center; 
  width: 100%; 
  margin: 30px auto 0 auto;
}
.fixed-heading-col {
  padding: 30px;
}
.fixed-heading-paragraph {
  font-size: 16px;
  text-align: left;
}
#site-logo {
  max-width: 80%; 
  margin: 0 auto;
}

#hvr-moogle {
  margin: 0;
  padding: 0;
  width: 65px;
  height: auto;
}
#social-icons {
  float: right; 
  font-size: 20px;
}
#social-icons a {
  padding-left: 10px;
}

#contact-card {
  max-width: 100%; 
}
#contact-card h2 {
  font-weight: bolder;
}
#contact-img {
  padding: 5px 20px;
  margin: 10px; 
  border-radius: 5px; 
  width: 85%; 
  background-color: rgb(255,255,255);
}

.shadow {
  box-shadow: 2px 2px 4px rgb(100,100,100);
}

#delete-warning {
  color: rgb(255,0,0);
  font-weight: bolder;
}
#desc {
  line-height: 25px;
}
#desc-input {
  border: 2px solid rgb(0,0,0);
  resize: none;
  width: 100%;
  height: 300px;
}
#desc-position {
  float: right;
}
.index-list {
  width: 650px; 
  text-align: center;
}
.add-edit-list {
  width: 75%; 
  margin: 0 auto;
  text-align: center;
}
#welcome {
  text-align: center; 
  width: 70%; 
  margin: 0 auto;
}
#welcome-content {
  text-align: center; 
  width: 100%; 
  margin: 0 auto;
}
#character-profile-img {
  margin-top: 10px; 
  width: 100%; 
  height: auto;
  border: none;
  border-radius: 5px; 
  box-shadow: 2px 2px 6px rgb(150,150,150);
  opacity: .9;
  transition: all .3s ease-in-out;
  
}
#character-profile-img:hover,
#character-profile-img:focus,
#character-profile-img:active  {
  box-shadow: none;
  opacity: 1;
  transform: translate(0, 1px);
  transition: all .3s ease-in-out;
} 
.fancy-icon i{
  transition: all .5s ease-in-out;
}
.fancy-icon i:hover {
  color: rgb(0,0,0);
  transform: translate(0, -10px)rotate(10deg);
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(150,150,150);
  transition: all .5s ease-in-out;  
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    .site-title {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 6em;
      margin-left: -25px;
    }
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .no-space {
      letter-spacing: -30px;
    }
    #logo {
      width: 50px;
      margin-right: -30px;
    }
    .search-card {
      margin: 0 auto;
      width: 90%;
    }
    #character-list {
      max-width: 100%;
    }
    #character-list-name,
    #character-list-origin {
      font-size: 14px;
    }
    #delete-warning {
      max-width: 100%;
    }
    #detail-view {
      max-width: 100%;
    }
    #contact-card {
      max-width: 100%; 
    }
    #contact-img {
      max-width: 45%; 
      float: none; 
    }
    #input-container {
      width: 350px;
    }
    .input-bar {
      width: 250px;
      margin-right: 0;
    }
    #search-btn {
      float: right; 
      margin: 30px 7px 30px 0;
    }
    .back-btn {
      margin-top: 25px;
    }
    #desc-position {
      float: none;
    }
    #site-logo {
      max-width: 100%; 
      margin: 0 auto;
    }
    
    #hvr-moogle {
      display: none;
    }
    .index-list {
      width: 100%;
    }

    #welcome {
      width: 100%; 
    }

}

