/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

@import "https://use.fontawesome.com/releases/v5.4.0/css/all.css";

/* Modifying HTML elements */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Raleway";
  font-size: 16px;
}
.jack-title {
  font-size: 96px;
}
.navbar-username {
  margin-top:20px;
}
.container-mod {
  width: 70%;
}
.hr-info-box {
  border:.5px solid #01579b;
}
.hr-home {
  border:.5px solid #01579b;
  width: 50%;
}
.info-box {
  min-height:220px;
  border-radius:40px;
  border:4px solid #fff;
}
.about-box {
  margin-bottom:30px;
  padding:5px 30px;
  border-radius:50px;
}
h1 {
  cursor: default;
}
h7 {
  font-weight: lighter;
  letter-spacing: 0;
}
footer {
  width: 70%;
  margin: 0 auto;
}
footer a,
footer a:visited {
  color: #37474F;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
footer a:hover,
footer a:focus,
footer a:active {
  color: rgb(30,130,220);
  text-decoration: none;
  transition: all .3s ease-in-out;
}
i {
  color: #37474F;
  padding-left: 10px;
  font-size: 20px;
  float: right;
}
i:hover,
i:focus {
  color: rgb(30,130,220);
  transform: rotate(7deg);
}
/* Styling Moogle title */
.site-title {
  margin-top:30px;
  min-height:200px;
  background-color:#e0e0e0;
  border-radius:500px;
}
.letter-e {
  margin-left:-12px;
}
.navbar-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  letter-spacing: -2.5px;
  cursor: pointer;
}
#random-character {
  display: none;
}
.label-under {
  color:#cc0000;
  margin-bottom:5px;
  float:left;
}
.font-12 {
  font-size:12px;
}
.font-10 {
  font-size:10px;
}
.no-space {
  letter-spacing: -35px;
}
.no-margin {
  margin:0 !important;
}
.bg-green {
  background-color:#c8e6c9;
}
.bg-red {
  background-color:#ffcdd2
}
.bg-yellow {
  background-color:#ffecb3;
}
.bg-blue {
  background-color:#bbdefb;
}
.bg-grey {
  background-color:#e0e0e0;
}
.black {
  color: #000;
}
.blue {
  color: #4285F4;
}
.yellow {
  color: #ffbb33;
}
.red {
  color: #CC0000;
}
.green {
  color: #007E33;
}
/* Spacer classes */
.top-buffer {
  margin-top: 40px;
}
.bottom-buffer {
  margin-bottom: 40px;
}
.mix-buffer {
  margin: 40px 0;
}
.padded-left {
  padding-left: 50px;
}
.close-modified {
  margin: 10px;
}
/* Search card */
.search-card {
  margin: 0 auto;
  width: 50%;
  height: 80px;
}
.fancy-search {
  padding:10px 0 10px 15px;
  border-radius:500px;
  background-color:#eceff1;
  border:1px solid transparent;
}
input,
input:focus {
  width: 100%;
  font-size: inherit;
  border-radius: 500px;
  background-color:#eceff1;
  outline: none !important;
  transition: all .3s ease-in-out;
}
::placeholder {
  font-size: 14px;
  color:#455a64 ;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

#search-icon {
  font-size: 16px;
  margin-top: 5px;
  margin-right: 15px;
}
.search-result,
.search-result > a,
.search-result > a:hover,
.search-result > a:visited,
.search-result > a:focus {
  color: #2e7d32;
}
#counterC,
#counterG,
#counterM {
  font-weight: bolder;
  font-size: 16px;
}
#result {
  outline: none;
  width: 100%;
  overflow: scroll;
}
.moogle-table {
  color: #37474f; 
  width:50%;
}
.moogle-row {
  margin-right: 0;
  margin-left: 0;
}
.moogle-h4 {
  color: #2962ff;
  margin-bottom: -.5px;
}
.moogle-modal-button {
  background: transparent; 
  padding: 10px; 
  border: 1px solid #e0e0e0; 
  margin: 20px 0; 
  float: right;
}
.moogle-img {
  width: 200px;
}
.moogle-modal-img {
  width: 100%;
}
.dark-bluish-gray {
  color: #37474f;
}
/* Logout link */
#logout:hover {
  color: #37474F;
  font-weight: bolder;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
/* QR code generator */
#qrCode {
    margin: 15px;
}
/* Admin character management stuff */
.navbar-icon {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: all .3s ease-in-out
}
#character-list {
  max-width: 100%;
  margin: 50px auto;
}
.character-list-item {
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: bolder;
  width: 25%;
}
.character-list-thumb,
.game-list-thumb {
  object-fit: fill; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100px;
  width: 100px;
  border-radius: 5px; 
  border: 1px solid rgb(248,248,248);
  box-shadow: none;
  opacity: 1;
  transition: all .3s ease-in-out;
}
.game-list-thumb {
  width: 180px;
  height: 160px;
  max-width: 180px;
  max-height: 160px;
}
.character-list-thumb:hover,
.character-list-thumb:focus,
.character-list-thumb:active,
.game-list-thumb:hover,
.game-list-thumb:focus,
.game-list-thumb:active {
  box-shadow: 2px 2px 6px rgb(150,150,150);
  transform: translate(0, -1px);
  opacity: .9;
  transition: all .3s ease-in-out;
}
#totals {
  display: none;
}
#loader {
  display: block;
}
/*
.load-bar {
  position: relative;
  margin-top: 5px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #fff, #fdba2c, #fff);
  opacity: .7;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  height: 100%; /* Editor complains, but this is needed */ /*
  left: 50%;
  text-align: center;
}
*/
.bar:nth-child(1) {
  background: linear-gradient(to right, #fff, #da4733, #fff);
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background: linear-gradient(to right, #fff, #3b78e7, #fff);
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background: linear-gradient(to right, #fff, #fdba2c, #fff);
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}
.index-list {
  width: 80%; 
  text-align: center;
}
.add-edit-list {
  width: 75%; 
  margin: 0 auto;
  text-align: center;
}
.character-profile-img {
  margin-top: 10px; 
  width: 100%; 
  height: auto;
  border: none;
  border-radius: 5px; 
  box-shadow: 2px 2px 6px rgb(150,150,150);
  opacity: .9;
  transition: all .3s ease-in-out;  
}
.character-card {
  width: 150px;
  height: 150px;
  margin: 10px 0 25px 0;
  background-color: transparent;
  border: none; 
}
#character-profile-img:hover,
#character-profile-img:focus,
#character-profile-img:active  {
  box-shadow: none;
  opacity: 1;
  transform: translate(0, 1px);
  transition: all .3s ease-in-out;
} 
.character-delete-img {
  width: 200px;
}
.character-delete-img-game {
  width: 350px;
}
.index-button {
  float: right;
  margin: 2.5px;
}
.input-bar,
.login-bar {
  margin: 30px 20px 30px 0;
  padding: 5px;
  width: 350px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgb(0,0,0);
  border-left: none;
  outline: none;
  border-radius: 0;
  font-size: 16px;
}
.login-bar {
  font-size: 16px;
  margin: 10px 0;
}
.login-picture {
  width: 100%;
}
#delete-warning {
  max-width: 50%;
  color: rgb(255,0,0);
  font-weight: bolder;
}
#detail-view {
  max-width: 100%;
  min-height: 200px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 auto 20px auto;
}
/* Some modified Bootstrap stuff (Or I made them up to fix something) */
.fixed-heading {
  text-align: center; 
  width: 100%; 
  margin: 30px auto 0 auto;
}
.fixed-heading-col {
  padding: 5px 30px 5px 30px;
}
.fixed-heading-paragraph {
  font-size: 16px;
  text-align: left;
}
/* Make a shadow */
.shadow {
  box-shadow: 2px 2px 4px rgb(150,150,150);
}
.shadow:hover {
  box-shadow: none;
}
/* Description box */
#desc {
  line-height: 25px;
}
#desc-input {
  border: 1px solid rgb(0,0,0);
  resize: none;
  width: 100%;
  height: 215px;
  overflow: scroll;
}
#desc-position {
  float: right;
}
.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background:#fff;
}
.navbar-mod { 
  background:#fff;
  border:transparent;
}
.dropdown-menu {
  display: none;
  width: 200px;
}
.dropdown-menu > li {
  padding: 5px 0;
  float: right;
}
.title-1 {
  font-size:4em;
}
.title-2 {
  font-size:2em;font-weight:bolder;
}
.site-logo {
  min-width:200px;
  font-size:40px;
  letter-spacing:10px;
  margin-left:-20px;
  cursor:pointer;
  font-family:'Josefin Sans',sans-serif;
}
.span-logo {
  margin:0 10px;
}
.site-span-api {
  color:#000;
  font-size:12px;
  font-weight:bolder;
  letter-spacing:0;
}
.site-span-api-sm {
  font-size: 6px;
}
.logo-img {
  width:27px;
  margin-right:-35px;
  transform: rotate(-12deg);
}
button.stripe-button-el,
button.stripe-button-el>span {
  background-color: #000 !important;
  background-image: none;
  border-radius:50px;
}
.copyright {
  display:inline;
}
.mobile-copyright {
  display:none;
}
.btn-mobile-upload {
  display:none !important;
}
.img-input-format {
  margin-top:10px;
  width:78%;
  max-width:80%;
  background-color:#eceff1;
  overflow:hidden;
}
.img-display-format {
  min-width:300px;
  max-width:500px;
  min-height:200px;
  max-height:300px;
  margin:5px;
}
.format-c {
  display:none !important;
}
.img-user {
  margin:23px auto;
  width:200px;
  height:200px;
  border-radius:50%;
  box-shadow: 2px 2px 4px #37474F;
  float:right;
  background-position: center center;
  background-repeat: no-repeat;
}
.img-responsive {
  width: 60% !important;
}
.general-nav {
  letter-spacing: 5px;
  float: left;
  margin-top: 16px;
}
.general-nav li {
  display: inline-block;
}
.mobile-nav-text {
  display: none;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    .general-nav {
      margin-top: 0;
      margin-left: 20px;
    }
    .img-responsive {
      width: 80% !important;
    }
    .img-user {
      display:block;
      box-shadow: 2px 2px 4px #37474F;
      float:none;
    }
    .format-c {
      display:inline-block !important;
    }
    .img-input-format {
      max-width:210px !important;
    }
    .img-display-format {
      max-width:280px !important;
      margin:0 auto !important;
    }
    .btn-web-upload {
      display:none !important;
    }
    .btn-mobile-upload {
      display:block !important;
      max-width:100%;
    }
    .navbar-username {
      display:none !important;
    }
    .navbar-icon {
      display:none;
    }
    .site-title {
      margin-left:0;
      margin-top:30px;
      min-height:200px;
      background-color:#e0e0e0;
      border-radius:500px;
    }
    .title-1 {
      font-size:3.5em;
    }
    .title-2 {
      font-size:1.25em;font-weight:bolder;
    }
    .title-3 {
      font-size: 14px;
    }
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .container-mod {
      width: 100%;
    }
    .no-space {
      letter-spacing: -25px;
    }
    /* .navbar {
      display: none;
    }
    .navbar-icon {
      display: none;
    } */
    .dropdown {
      display: block;
    }
    .dropdown-menu {
      position: static;
      display: block;
      width: 100%;
    }
    .dropdown-menu > li {
      display: block;
      float: none;
    }
    .game-list-thumb {
      height: 200px;
      width: 200px;
    }
    .character-card {
      /* width: 250px;
      height: 250px; */
      margin: 10px auto 25px auto;
    }
    .login-bar {
      width: 250px;
    }
    .search-card {
      margin: 0 auto;
      width: 90%;
    }
    #character-list {
      max-width: 100%;
    }
    #character-list-name,
    #character-list-origin {
      font-size: 14px;
    }
    #delete-warning {
      max-width: 100%;
    }
    #detail-view {
      max-width: 100%;
    }
    #input-container {
      width: 100%;
    }
    .input-bar {
      width: 250px;
      margin-right: 0;
    }
    #search-btn {
      float: right; 
      margin: 30px 7px 30px 0;
    }
    .back-btn {
      margin-top: 25px;
    }
    #desc-position {
      float: none;
    }
    .index-list {
      width: 100%;
    }
    .moogle-table {
      width: 100%;
    }
    .moogle-modal-button {
      margin: 0 auto;
      float: none;
      width: 100%;
    }
    .span-logo {
      margin:0;
    }
    .logo-img {
      width:25px;
      margin-right:-25px;
    }
    .site-logo {
      margin:0;
      text-align: center;
      font-size:40px;
      letter-spacing:10px;
      cursor:pointer;
      font-family:'Josefin Sans',sans-serif;
    }
    .swap {
      display:none;
    }
    .navbar-header button {
      margin:8px auto 0 auto;
    }
    .navbar-toggle {
      float:none;
    }
    .copyright {
      display:none;
    }
    .mobile-copyright {
      display:inline;
    }
    .mobile-nav-text {
      display: inline;
    }
}

