@model IEnumerable<Moogle.Models.BlogPost>

@{
    ViewData["Title"] = "| Blog";
}

<h2 class="top-buffer">blog</h2>
<div class="row" style="margin-right: auto; margin-left: auto; padding-left:5%;">
    
    <div class="col-md-5">
        <h3>most recent</h3>
        <div class="container-fluid sidebar">
            <div class="btn-blue add-blog">
                <a asp-action="Create">
                    <span class="fas fa-plus" aria-hidden="true"></span>
                </a>
            </div>
            <!-- <div class="row">
                @await Component.InvokeAsync("LatestBlogs", new { howMany = 3 })
            </div> -->
        </div>
    </div>
    <div class="col-md-7">
        <h3>full blog</h3>
        <ul class="list-unstyled article-list">
        @foreach (var blog in Model)
        {
            <li>
                @Html.Partial("_BlogSummary", blog)
            </li>
        }
        </ul>
    </div>

</div>
