@{
    ViewData["Title"] = "| About";
}

<h2 class="lightSpeedIn">jack f. perry, jr.</h2>
<hr />
<div id="detail-view">
    <div class="row">
        <div class="col-md-4">
            <img id="character-profile-img" src="@Url.Content("/images/icons/icon-me.jpg")" alt="Jack F. Perry, Jr." title="A picture of me!"/>
        </div>
        <div class="col-md-3">
            <h4><strong>Origin</strong>: Final Fantasy 04</h4>
            <h4><strong>Race</strong>: Human</h4>
            <h4><strong>Gender</strong>: Male</h4>
            <h4><strong>Age</strong>: 36</h4>
            <h4><strong>Height</strong>: 1.78 (m)</h4>
            <h4><strong>Weight</strong>: 90 (kg)</h4>
            <h4><strong>Job</strong>: Developer</h4>
        </div>
        <div class="col-md-5">
            <h4 id="desc">I'm a pretty big Final Fantasy nerd. I have three versions of most of the games in the main series; the original release, the greatest hits release, and then the Japanese release as well. I also have most, if not all, of the strategy guides to go along with the games. I fell in love with the series at a young age and invested <strong>MANY</strong> hours playing and re-playing. The game has since been one of the fondest parts of my childhood. Eventually it lead me to other RPGs, including a text-based online game where I then fell in love with coding things. Then, boom! Years later, you have this.</h4>
        </div>
    </div>
</div>