
@{
    ViewData["Title"] = "connect with me";
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
<h2 class="lightSpeedIn">@ViewData["Title"]</h2>
<hr />
<div id="contact-card">
    <div class="row">
        <div class="col-md-2">
            <img id="contact-img" class="bounceInDown" src="~/images/moogle-contact.gif">
        </div>
        <div class="col-md-4">
            <h3>@ViewData["Message"]</h3>
            <address style="float: left;">
                <p title="I reside in Louisville, KY">Louisville, KY</p>
                <p title="Phone number">phone: 502.644.6855</p>
                <p title="Email address">email: <a href="mailto:jack.franklin.perryjr@gmail.com">jack.franklin.perryjr@gmail.com</a></p>
            </address>
        </div>
        <div class="col-md-6" style="font-size: 100px; letter-spacing: 10px;">
            <a class="fancy-icon" href="https://www.facebook.com/jackfperryjr" target="_blank" title="Visit Facebook."><i class="fab fa-facebook-square"></i></a>
            <a class="fancy-icon" href="https://www.linkedin.com/in/jackfperryjr" target="_blank" title="Visit LinkedIn."><i class="fab fa-linkedin"></i></a>
            <a class="fancy-icon" href="https://github.com/jackfperryjr" target="_blank" title="Visit GitHub."><i class="fab fa-github-square"></i></a>
            <a class="fancy-icon" href="https://www.instagram.com/jackfperryjr" target="_blank" title="Visit Instagram."><i class="fab fa-instagram"></i></a>
        </div>
    </div> 
</div>

    

