@section MetaTags
{
    <meta property="og:url" content="www.moogle.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Moogle">
    <meta property="og:description" content="Moogle is your search engine for Final Fantasy. Easily find, and learn more, about your favorite games, characters, and monsters.">
    <meta name="description" content="Moogle is your search engine for Final Fantasy. Easily find, and learn more, about your favorite games, characters, and monsters.">
    <meta name="author" content="Jack F. Perry, Jr.">
}

@section Scripts
{
    <script src="~/js/site.js"></script>
}

<div class="row fixed-heading">
    <div class="col-md-12 fixed-heading-col">
        <h1 class="site-title">
            <span class="blue no-space">M</span>
            <span class="red no-space"><img id="logo" src="@Url.Content("/images/ff-moogle.png")" alt="Moogle face for one of the Os."></span>
            <span class="yellow no-space">o</span>
            <span class="blue no-space">g</span>
            <span class="green no-space">l</span>
            <span class="red no-space">e</span>
        </h1>
    </div>
</div>
<div class="container">
    <div class="search-card">
        <form class="form-inline">
            <input id="search" class="form-control" type="input">
        </form>
<!--
        <div id="loader" class="load-bar">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div id="totals">
            <span id="counterC"></span><span id="counterM"></span> <span id="counterG"></span>
        </div>
-->
    </div>
    <div id="result" class="mix-buffer"></div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <h4><strong>Easy to use!</strong></h4>
        <hr/>
        <h5 class="text-left">Use your favorite front-end framework to send a request to <strong>https://moogle.com/api/&#123; characters | monsters | games &#125;</strong>. Then display and organize the data on your website or application however you want!<br/>
        <strong>(That's just a made up domain for now...)</strong></h5>
    </div>
    <div class="col-md-4 text-center">
        <h4><strong>Try it out!</strong></h4>
        <hr/>
        <h5 class="text-left">A Final Fantasy search engine! Start typing a character, monster, or game into the search box above and the results will populate below it. In this case, organized and styled the way I wanted it to appear, which should look very familiar.</h5>
    </div>
    <div class="col-md-4 text-center">
        <h4><strong>Connect with me!</strong></h4>
        <hr/>
        <h5 class="text-left">If you want to get in touch, have suggestions, want to work with me, or just check out what I'm up to follow the social media links below. Or just <a href="mailto:jack.franklin.perryjr@gmail.com">email</a> me. But don't forget to say hi!</h5>
    </div>
</div>