
<div class="row fixed-heading">
    <div class="col-md-12 fixed-heading-col">
        <h1 class="site-title">
            <span class="blue no-space">M</span>
            <span class="red no-space"><img id="logo" src="http://localhost:5000/images/ff-moogle.png" alt="Moogle face for one of the Os."></span>
            <span class="yellow no-space">o</span>
            <span class="blue no-space">g</span>
            <span class="green no-space">l</span>
            <span class="red no-space">e</span>
        </h1>
    </div>
</div>
<div class="container">
    <div class="search-card">
        <form class="form-inline">
            <input id="search" class="form-control" type="input" placeholder="Search ex. 'Lightning'...">
        </form>
    </div>
    <div id="result" class="mix-buffer"></div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <h4><strong>Easy to use!</strong></h4>
        <hr/>
        <h5 class="text-left">Use your favorite front-end framework to send a request to <strong>https://moogle.com/finalfantasy/api</strong>. Then display and organize the data on your website or application however you want!<br/>
        <strong>(That's just a made up domain for now...)</strong></h5>
    </div>
    <div class="col-md-4 text-center">
        <h4><strong>Try it out!</strong></h4>
        <hr/>
        <h5 class="text-left">Start typing a character's name in the search box above and the results will populate below it. Organized and styled the way I wanted it to appear, which should look very familiar.</h5>
    </div>
    <div class="col-md-4 text-center">
        <h4><strong>Connect with me!</strong></h4>
        <hr/>
        <h5 class="text-left">If you want to get in touch, have suggestions, want to work with me, or just check out what I'm up to follow the social media links below. Or just <a href="mailto:jack.franklin.perryjr@gmail.com">email</a> me. But don't forget to say hi!</h5>
    </div>
</div>
