
<div class="row fixed-heading">
    <div class="col-md-12 fixed-heading-col">
        <h1 class="site-title">
            <span class="blue no-space">M</span>
            <span class="red no-space">o</span>
            <span class="yellow no-space">o</span>
            <span class="blue no-space">g</span>
            <span class="green no-space">l</span>
            <span class="red no-space">e</span>
        </h1>
    </div>
</div>
<div class="container">
    <div class="search-card">
        <form class="form-inline my-2 my-md-0">
            <input id="search" class="form-control" type="input" placeholder="Search...">
        </form>
    </div>
        <div class="search-card">
            <h7>Start typing a character's name and the data will populate below</h7>
        </div>
    <div id="result" class="mix-buffer"></div>
</div>
<div id="welcome" class="row">
    <div id="welcome-content" class="col-md-12">

    </div>
</div>
