@{
    ViewData["Title"] = "Home";
}

<div class="row fixed-heading">
    <div class="col-md-10 fixed-heading-col">
        <img id="site-logo" class="bounceInDown" src="~/images/finalFantasyLogo.png" alt="Final Fantasy logo." title="Final Fantasy logo.">
        <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="7000" style="width: 100%; height: 300px;"> -->
            <!-- <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
                <li data-target="#myCarousel" data-slide-to="8"></li>
                <li data-target="#myCarousel" data-slide-to="9"></li>
                <li data-target="#myCarousel" data-slide-to="10"></li>
                <li data-target="#myCarousel" data-slide-to="11"></li>
                <li data-target="#myCarousel" data-slide-to="12"></li>
                <li data-target="#myCarousel" data-slide-to="13"></li>
                <li data-target="#myCarousel" data-slide-to="14"></li>
            </ol> -->
            <!-- <div class="carousel-inner" role="listbox">
                <div class="item active" style="margin: 0 auto; width: 70%; height: 300px; object-fit: fill; object-position: center;">
                    <a href="https://www.google.com/search?q=final+fantasy+1" target="_blank"><img src="~/images/ff01.jpg" alt="Final Fantasy 1 logo" class="img-responsive"/></a>
                </div>
                <div class="item" style="margin: 0 auto; width: 70%; height: 300px; object-fit: fill; object-position: center;">
                    <a href="https://www.google.com/search?q=final+fantasy+2" target="_blank"><img src="~/images/ff02.png" alt="Final Fantasy 2 logo" class="img-responsive" /></a>
                </div>
                <div class="item" style="margin: 0 auto; width: 64%; height: 300px; object-fit: fill; object-position: center;">
                    <a href="https://www.google.com/search?q=final+fantasy+3" target="_blank"><img src="~/images/ff03.png" alt="Final Fantasy 3 logo" class="img-responsive" /></a>
                </div>
                <div class="item" style="margin: 0 auto; width: 70%; height: 300px; object-fit: fill; object-position: center;">
                    <a href="https://www.google.com/search?q=final+fantasy+4" target="_blank"><img src="~/images/ff04.png" alt="Final Fantasy 4 logo" class="img-responsive" /></a>
                </div>
                <div class="item" style="margin: 0 auto; width: 80%; height: 300px; object-fit: fill; object-position: center;">
                    <a href="https://www.google.com/search?q=final+fantasy+5" target="_blank"><img src="~/images/ff05.jpg" alt="Final Fantasy 5 logo" class="img-responsive" /></a>
                </div>
                <div class="item" style="margin: 0 auto; width: 100%; height: 300px; object-fit: fill; object-position: center;">
                    <a href="https://www.google.com/search?q=final+fantasy+6" target="_blank"><img src="~/images/ff06.png" alt="Final Fantasy 6 logo" class="img-responsive" /></a>
                </div>
                <div class="item" style="margin: 0 auto; width: 100%; height: 300px; object-fit: fill; object-position: center;">
                    <a href="https://www.google.com/search?q=final+fantasy+7" target="_blank"><img src="~/images/ff07.jpg" alt="Final Fantasy 7 logo" class="img-responsive" /></a>
                </div>
                <div class="item" style="margin: 0 auto; width: 100%; height: 300px; object-fit: fill; object-position: center;">
                    <a href="https://www.google.com/search?q=final+fantasy+8" target="_blank"><img src="~/images/ff08.jpg" alt="Final Fantasy 8 logo" class="img-responsive" /></a>
                </div>
                <div class="item" style="margin: 0 auto; width: 100%; height: 300px; object-fit: fill; object-position: center;">
                    <a href="https://www.google.com/search?q=final+fantasy+9" target="_blank"><img src="~/images/ff09.png" alt="Final Fantasy 9 logo" class="img-responsive" /></a>
                </div>
                <div class="item" style="margin: 0 auto; width: 80%; height: 300px; object-fit: fill; object-position: center;">
                    <a href="https://www.google.com/search?q=final+fantasy+10" target="_blank"><img src="~/images/ff10.jpg" alt="Final Fantasy 10 logo" class="img-responsive" /></a>
                </div>
                <div class="item" style="margin: 0 auto; width: 100%; height: 300px; object-fit: fill; object-position: center;">
                    <a href="https://www.google.com/search?q=final+fantasy+10-2" target="_blank"><img src="~/images/ff10-2.gif" alt="Final Fantasy 10-2 logo" class="img-responsive" /></a>
                </div>
                <div class="item" style="margin: 0 auto; width: 100%; height: 300px; object-fit: fill; object-position: center;">
                    <a href="https://www.google.com/search?q=final+fantasy+12" target="_blank"><img src="~/images/ff12.png" alt="Final Fantasy 12 logo" class="img-responsive" /></a>
                </div>
                <div class="item" style="margin: 0 auto; width: 100%; height: 300px; object-fit: fill; object-position: center;">
                    <a href="https://www.google.com/search?q=final+fantasy+13" target="_blank"><img src="~/images/ff13.png" alt="Final Fantasy 13 logo" class="img-responsive" /></a>
                </div>
                <div class="item" style="margin: 0 auto; width: 100%; height: 300px; object-fit: fill; object-position: center;">
                    <a href="https://www.google.com/search?q=final+fantasy+13-2" target="_blank"><img src="~/images/ff13-2.png" alt="Final Fantasy 13-2 logo" class="img-responsive" /></a>
                </div>
                <div class="item" style="margin: 0 auto; width: 72%; height: 300px; object-fit: fill; object-position: center;">
                    <a href="https://www.google.com/search?q=final+fantasy+15" target="_blank"><img src="~/images/ff15.png" alt="Final Fantasy 15 logo" class="img-responsive" /></a>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="color: rgb(0,0,0);"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: rgb(0,0,0);"></span>
                <span class="sr-only">Next</span>
            </a>
        </div> -->
    </div>
    <div class="col-md-2 fixed-heading-col">
        <img id="hvr-moogle" class="hvr-hang" src="~/images/moogle.png" alt="A moogle." title="A floating moogle.">
    </div>
</div>
<div id="welcome" class="row">
    <div id="welcome-content" class="col-md-12">
        <h2 class="lightSpeedIn">Welcome!</h2>
        <br />
        <p class="fixed-heading-paragraph">&emsp;This is my updated Final Fantasy Compendium, or database, of Final Fantasy characters (and eventually monsters!).
        <br />&emsp;As of now, anyone can view the list of characters as well as each individual character. You will have to sign in to add, edit, or delete anything, though! Right now that's just reserved for me.</p>
        <br />
        <!-- <div id="random-quote" style="margin: 0 auto; width: 60%;">
            <blockquote id="quote">
                <em>&ldquo;blah dee dah dah blah.&rdquo;</em><br />
                <p id="author" style="text-align: right;">- you</p>
            </blockquote>
        </div> -->
    </div>
</div>
