
<div class="row fixed-heading">
    <div class="col-md-12 fixed-heading-col">
        <h1 class="site-title">
            <span class="blue no-space">M</span>
            <span class="red no-space"><img id="logo" src="~/images/ff-moogle.png" alt="Moogle face for one of the Os."></span>
            <span class="yellow no-space">o</span>
            <span class="blue no-space">g</span>
            <span class="green no-space">l</span>
            <span class="red no-space">e</span>
        </h1>
    </div>
</div>
<div class="container">
    <div class="search-card">
        <form class="form-inline my-2 my-md-0">
            <input id="search" class="form-control" type="input" placeholder="Search ex. 'Lightning'...">
        </form>
    </div>
        <div class="search-card">
            <h7>Start typing a character's name and the data will populate below</h7>
        </div>
    <div id="result" class="mix-buffer"></div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <h3>Easy to use!</h3>
        <hr/>
        <h4 class="text-left">Just send a request to https://moogle.com/finalfantasy/api.</h4>
    </div>
    <div class="col-md-4 text-center">
        <h3>Lorem Ipsum</h3>
        <hr/>
        <h4 class="text-left">Sample content. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h4>
    </div>
    <div class="col-md-4 text-center">
        <h3>Lorem Ipsum</h3>
        <hr/>
        <h4 class="text-left">Sample content. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </h4>
    </div>
</div>
