@model IEnumerable<Moogle.Models.BlogPost>

<div class="last-articles">
    <ul class="list-unstyled last-articles-list">
        @foreach (var blog in Model)
        {
            <li>
                @Html.Partial("_BlogSummary", blog)
            </li>
        }
    </ul>
</div>