@model Moogle.Models.Monster
@{
    ViewData["Title"] = "| Add";
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
<h2 class="top-buffer">add monster</h2>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="add-edit-list">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Name" class="login-bar login-picture" placeholder="Enter monster name" title="Enter monster's name."/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">name</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Strength" class="login-bar login-picture" placeholder="What's this monster's strength?" title="Enter monster's strength."/>
                    <span asp-validation-for="Strength" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">strength</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Weakness" class="login-bar login-picture" placeholder="What's this monster's weakness?" title="Enter monster's weakness."/>
                    <span asp-validation-for="Weakness" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">weakness</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input class="login-bar login-picture" style="cursor:not-allowed;" placeholder="Future monster stat/info" disabled/>
                    <span class="text-danger"></span>
                </div>
                <span class="font-10 label-under">stat</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input class="login-bar login-picture" style="cursor:not-allowed;" placeholder="Future monster stat/info" disabled/>
                    <span class="text-danger"></span>
                </div>
                <span class="font-10 label-under">stat</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input class="login-bar login-picture" style="cursor:not-allowed;" placeholder="Future monster stat/info" disabled/>
                    <span class="text-danger"></span>
                </div>
                <span class="font-10 label-under">stat</span>
            </div>
            <div id="desc-position" class="col-md-6">
                <div class="input-group" style="height:250px;width:250px;margin:0 auto;">
                    <label>
                        <img id="img-output" style="width:100%;height:auto;max-height:100%;margin:5px;cursor:pointer;" src="https://mooglestorage.blob.core.windows.net/images/icon-default-image.png" />
                        <input asp-for="Picture" id="img-input" type="file" accept="image/*" name="picture" style="display:none;" />
                    </label>
                    <h5>Click to change image</h5>
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <textarea id="desc-input" asp-for="Description" class="login-bar" placeholder="Enter a monster description in this space" title="Enter a character description in this space" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="add-edit-list">
        <div class="form-group top-buffer">
            <button type="submit" class="btn btn-default shadow"><span class="glyphicon glyphicon-ok"></span> add</button>
            <a class="btn btn-default shadow" asp-action="Index"><span class="glyphicon glyphicon-arrow-left"></span> cancel</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function hideSuccess() {
            $("#edit-success-container").hide();
        }
        $("#img-input").change(function(event){
            let imgPath = URL.createObjectURL(event.target.files[0]);
            $("#img-output").fadeIn("fast").attr('src',imgPath); 
        }) 
    </script>
}