@model Moogle.Models.Monster
@{
    ViewData["Title"] = "| Add";
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
<h2>add monster</h2>
<hr />
<form asp-action="Create">
    <div class="add-edit-list">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Name" class="login-bar login-picture" placeholder="Enter monster name" title="Enter monster's name."/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">name</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Strength" class="login-bar login-picture" placeholder="What's this monster's strength?" title="Enter monster's strength."/>
                    <span asp-validation-for="Strength" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">strength</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Weakness" class="login-bar login-picture" placeholder="What's this monster's weakness?" title="Enter monster's weakness."/>
                    <span asp-validation-for="Weakness" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">weakness</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input class="login-bar login-picture" style="cursor:not-allowed;" placeholder="Future monster stat/info" disabled/>
                    <span class="text-danger"></span>
                </div>
                <span class="font-10 label-under">stat</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input class="login-bar login-picture" style="cursor:not-allowed;" placeholder="Future monster stat/info" disabled/>
                    <span class="text-danger"></span>
                </div>
                <span class="font-10 label-under">stat</span>
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input class="login-bar login-picture" style="cursor:not-allowed;" placeholder="Future monster stat/info" disabled/>
                    <span class="text-danger"></span>
                </div>
                <span class="font-10 label-under">stat</span>
            </div>
            <div id="desc-position" class="col-md-6">
                <div class="form-group" style="margin-bottom:0 !important;">
                    <input asp-for="Picture" class="login-bar login-picture" placeholder="images/ff-&lt;name&gt;-sample.jpg"  title="Enter image url" />
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
                <span class="font-10 label-under">picture</span>
                <img alt="No picture." title="Picture goes here." />
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <textarea id="desc-input" asp-for="Description" class="login-bar" placeholder="Enter a monster description in this space" title="Enter a character description in this space" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group" style="margin-left:150px;">
        <button type="submit" class="btn btn-default shadow"><span class="glyphicon glyphicon-ok"></span> add</button>
        <a class="btn btn-default shadow" asp-action="Index"><span class="glyphicon glyphicon-arrow-left"></span> cancel</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}